$screen_md: 'only screen and (min-width: 768px)';
$screen_xl: 'only screen and (min-width: 1280px)';

$font_primary: 'Barlow-ExtraBold', 'NotoSansJP-ExtraBold', sans-serif;
$font_secondary: 'NotoSansJP-Medium', sans-serif;

$color_light_base: #eae8e1;
$color_light_main: #000000;
$color_light_accent: #bb9051;
$color_light_card: #ffffff;
$color_light_float: #fffdf5;
$color_light_primary_text: #333333;
$color_light_secondary_text: #4f5458;
$color_light_primary_link: #1972cc;
$color_light_secondary_link: #664d27;

$color_dark_base: #020408;
$color_dark_main: #bdbdbd;
$color_dark_accent: #3e2723;
$color_dark_card: #0d1117;
$color_dark_float: #171b22;
$color_dark_primary_text: #333333;
$color_dark_secondary_text: #cfd8dc;
$color_dark_primary_link: #1972cc;
$color_dark_secondary_link: #e0e0e0;

$color_x_twitter: #00acee;
$color_facebook: #305797;
$color_note: #38c0a4;
$color_light_github: #161415;
$color_dark_github: #e7edf2;
$color_qiita: #59bb0a;
$color_zenn: #3ea8ff;
